<!-- app/templates/admin.html -->
{% extends "base.html" %}

{% block title %}Admin{% endblock %}

{% block page_content %}
<div class="container">
    <h1>Administração</h1>
    <p>Abaixo estão listadas todas as funções e os usuários associados a cada uma delas:</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Função</th>
                <th>Usuários</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for role in roles %}
            <tr>
                <td>{{ role.name }}</td>
                <td>
                    <ul>
                        {% for user in role.users %}
                        <li>{{ user.username }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% for user in role.users %}
                        <li style="display: flex; align-items: center;">
                            <!-- Botão Editar -->
                            <form action="#" method="GET" style="display:inline;">
                                <button type="button" class="btn btn-info btn-sm" style="margin-right: 5px;">Editar</button>
                            </form>
                            <!-- Botão Excluir -->
                            <form action="{{ url_for('main.delete_user', user_id=user.id) }}" method="POST" style="display:inline;">
                                <button type="submit" class="btn btn-danger btn-sm">&times;</button>
                            </form>
                        </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
