<!-- app/templates/professores.html -->
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Professores{% endblock %}

{% block page_content %}
<div class="container">
    <!-- Formulário -->
    {{ wtf.quick_form(form) }}

    <!-- Relação de Usuários Cadastrados -->
    <h2>Relação de professores cadastrados</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Professor</th>
                <th>Disciplina</th>
            </tr>
        </thead>
        <tbody>
            {% for user in user_all %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.role.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
